h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.greeting {
  font-size: 15px;
  color: #84dc00;
  text-align: center;
}

.translation {
  font-size: 12px;
  position: relative;
  top: -10px;
}

h5 {
  text-align: right;
  margin: 0 10px 0 0;
}

h3 {
  color: #1cb0f6;
  font-size: 15px;
  color: #84dc00;
  text-align: center;
}

.second-row {
  position: relative;
  top: 50px;
}

.start-button {
  position: relative;
  top: 30px;
}

.bubbleChart {
  position: relative;
  top: 30px;
  padding-bottom: 80px;
}

.login-input {
  padding-right: 70px;
}
